<div class="container">
    <br>
    <div class="row">
    <div class="col-md-2"></div>
        
    <div class="col-md-10">
    <h1 style="font-family: 'Thasadith', sans-serif;">You canceled transaction.</h1>
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
    <br>
    </div>
        
    </div>
</div>