
<div class="container">
    <br>
    <div class="row">
    <div class="col-md-2"></div>
        
    <div align="center" class="col-md-4">
    <h1 style="font-family: 'Thasadith', sans-serif;">Web Development Ebook</h1><br>
    <p style="font-family: 'Thasadith', sans-serif;font-size:25px"><span style="font-weight:bold">Web Development & beyond</span><br>-  by Kyle Prinsloo</p>
    <form action="/pay" method="POST">
      <button class="btn btn-primary" type="submit">Buy for Rs200</button>
    </form>
    </div>
        
    <div align="center" class="col-md-6">
        <br>
        <img height="400" width="300" style="box-shadow:1px 2px 2px 3px #484848" src="https://i.pinimg.com/originals/1a/f5/9d/1af59dc35bded0c716f983f86370888e.jpg">
    </div>
        
    </div>
</div>